<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />

        <title>
            {{ 'Login to %installation_name%' | trans({ '%installation_name%' : installation.name } ) }}
        </title>
        <link rel="shortcut icon" href="/bundles/chillmain/img/favicon.ico" type="image/x-icon">
        {% stylesheets  output="css/login.css" filter="cssrewrite"
           
            "bundles/chillmain/fonts/OpenSans/OpenSans.css" %}
        <link rel="stylesheet" href="{{ asset_url }}"/>
        {% endstylesheets %}
        <style>
            html, body {
                height: 100%;
                margin: 0;
                padding: 0;
            }

            body {
                background-color: #333;
                color: white;
                text-align: center;
            }

            #content {
                position: relative;
                height: 90%;
                padding-top: 10%;
            }

            #content:before {
               bottom: 0;
               content: "";
               left: 0;
               opacity: 0.2;
               position: absolute;
               right: 0;
               top: 0;
               z-index: -1;
               background-image: url("/bundles/chillmain/img/background/desert.jpg");
               background-attachment: fixed;
               background-repeat: no-repeat;
               background-size: cover;
               background-position: center;
            }

            label {
                width : 15em;
                text-align: right;
                display: inline-block;
                font-family: 'open_sanslight';
                padding-right: 5px;
            }
            input {
                
            }
            form {
                
            }
            button {
                margin-left: 15em;
                margin-top: 1em;
                background-color: #df4949;
                border: medium none;
                border-radius: 0;
                box-shadow: none;
                color: #fff;
                padding: 4px 8px;
                font-family: 'open_sanslight';
            }
        </style>
    </head>
    <body>
        <div id="content">
            <img class="logo" src="/bundles/chillmain/img/logo-chill-outil-accompagnement_white.png">

            <p style="background: none repeat scroll 0 0 rgba(39, 128, 111, 0.5);
        font-family: 'open_sansregular';        
        color: #fff;
        font-weight: bold;
        margin-bottom: 0.75em;
        padding: 0.75em; 
    clear: both !important;
        display: block !important;
        float: none !important;
        margin-left: auto !important;
        margin-right: auto !important;
    width:66.6%;">Pour en savoir plus, lisez notamment <a style="color:#FFF;" href="http://blog.champs-libres.coop/vie-des-champs/2015/01/07/tester-version-demo-chill-logiciel-libre-service-social.html">le billet sur notre blog.</a></p>

            <p>{{ error|trans }}</p>

            <form method="POST" action="{{ path('login_check') }}">
                <label for="_username">{{ 'Username'|trans }}</label>
                <input type="text" name="_username"  value="center a_social" />
                <br/>
                <label for="_password">{{ 'Password'|trans }}</label>
                <input type="password" name="_password" value="password" />
                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}" />
                <br/>
                <button type="submit" name="login">{{ 'Login'|trans }}</button>

            </form>
        </div>
<!-- Piwik -->
<script type="text/javascript">
  var _paq = _paq || [];
  _paq.push(['trackPageView']);
  _paq.push(['enableLinkTracking']);
  (function() {
    var u="//piwik.champs-libres.coop/";
    _paq.push(['setTrackerUrl', u+'piwik.php']);
    _paq.push(['setSiteId', 1]);
    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
    g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
  })();
</script>
<noscript><p><img src="//piwik.champs-libres.coop/piwik.php?idsite=1" style="border:0;" alt="" /></p></noscript>
<!-- End Piwik Code -->

    </body>
</html>

